# IDE and editor files
.ipynb_checkpoints
.idea/

# Output and data files
/outputs/
/data/
/models/
/runs/
log/
logs/

# Compressed and archived files
*.gz
*.gzip
*.tgz
*.bin

# Compiled code and configuration files
*.pyc
*.pkl

# Text files
*.txt
*.html
*.tsv
*.xlsx
*.csv
*.jsonl
*.json
*.zst

# Image files
.DS_Store
*.png

# Machine learning and data analysis files
*.pt
*.gephi
*.gexf

# Python compiled files and cache
__pycache__/
*/__pycache__/
*.out
*.npy
